= turbo_stream.append 'approvals' do
  = render partial: 'results/approval', locals: { approval: @approval }
= turbo_stream_flash
= turbo_stream.remove 'no_approval_text'
= turbo_stream.replace 'result_status' do
  = render partial: 'results/status', locals: { result: @result }