= form_with(model: [sample], local: true, class: 'form-common') do |f|
  - if sample.errors.any?
    #error_explanation
      %h2= "#{sample.errors.count}件のエラーがあります"
      %ul
        - sample.errors.full_messages.each do |msg|
          %li= msg

  %table.form-table
    .form-group
      = f.label :plant_id, "事業場"
      = f.collection_select :plant_id, @plants, :id, :name, { include_blank: 'ー選択してくださいー' }, { required: true }
    .form-group
      = f.label :sampling_date, "採水日"
      = f.date_field :sampling_date, required: true

    .form-group
      = f.label :sampling_time, "採水時間"
      = f.time_field :sampling_time, required: true

    .form-group
      = f.label :location, "採水場所"
      = f.text_field :location, placeholder: "例: 浄化槽A"

    .form-group
      = f.label :inspector, "採水者"
      = f.text_field :inspector, placeholder: "例: 田中太郎"

    .form-group
      = f.label :remarks, "備考"
      = f.text_area :remarks, rows: 4

  .form-actions
    = f.submit "登録する", class: "btn btn-new"
    = link_to "戻る", samples_path, class: "btn btn-show"

%div{ data: { controller: 'sample_plants_search', action: 'focusin->sample_plants_search#show focusout->sample_plants_search#hide' }, class: 'samples_plants-search_wrapper' }
  = search_form_for @sample_plants_search, as: :sample_plants_q, url: new_sample_path, html: { data: { turbo_frame: 'sample_plants-list', controller: 'search', action: 'input->search#submit' } } do |f|
    = f.search_field :name_cont
  .samples_plants-search_drop-down.hidden
    = turbo_frame_tag 'sample_plants-list' do
      - @plants.each do |plant|
        %div{ data: { sample_plants_search_target: 'plant', action: 'mousedown->sample_plants_search#get_value', plant_id: plant.id }, class: 'samples_drop-down_plant' }= plant.name