= turbo_frame_tag result do
  %div{ class: [ 'sample_result', result.violated?] }
    .sample-result_name= result.test_item.name
    .sample-result_value= result.value
    .sample-result_unit= result.test_item.unit.presence || "-"
    .sample-result_detection_limit= result.test_item.detection_limit.presence || "-"
    .sample-result_standard_min= result.test_item.standard_min.presence || "-"
    .sample-result_standard_max= result.test_item.standard_max.presence || "-"
    .sample-result_buttons
      = link_to plant_sample_result_path(result.sample.plant, result.sample, result), class: "sample-chart", data: { turbo: false } do
        = image_tag 'chart.svg'
      = link_to edit_plant_sample_result_path(result.sample.plant, result.sample, result), class: "sample-edit", data: { turbo_frame: 'modal' } do
        = image_tag 'edit.svg'
      = link_to plant_sample_result_path(result.sample.plant, result.sample, result), data: {turbo_method: :delete, turbo_confirm: "この検査結果を削除しますか？" }, class: "sample-delete" do
        = image_tag 'delete.svg'