-# 採水詳細（Sample#show）
.container
  .sample_header
    %h1 採水詳細
    .sample_header-buttons
      = link_to "編集", edit_plant_sample_path(@sample.plant, @sample), class: "btn btn-edit"
      = link_to "削除", plant_sample_path(@sample.plant, @sample), method: :delete, data: { confirm: "この採水データを削除しますか？" }, class: "btn btn-delete"

  / パンくず
  %nav.breadcrumbs
    = link_to "事業場一覧", plants_path
    %span ›
    = link_to @sample.plant.name, plant_path(@sample.plant)
    %span ›
    %span 採水詳細

  %h2.sample_plant-name= @sample.plant.name

  %table.sample-table
    %tbody
      %tr
        %th 採水日
        %td= l(@sample.sampling_date, format: :long)
      %tr
        %th 採水時間
        %td= @sample.sampling_time&.strftime("%H:%M")
      %tr
        %th 採水場所
        %td= @sample.location
      %tr
        %th 採水者
        %td= @sample.inspector
      %tr
        %th 備考
        %td= @sample.remarks.present? ? simple_format(@sample.remarks) : "-"

  .sample_results
    .sample_result.sample_result-heading
      .sample-result_name 検査項目名
      .sample-result_value 測定値
      .sample-result_unit 単位
      .sample-result_detection_limit 定量下限値
      .sample-result_standard_min 基準下限
      .sample-result_standard_max 基準上限
      .sample-result_buttons 操作

    - @results.each do |result|
      .sample_result
        .sample-result_name= result.test_item.name
        .sample-result_value= result.value
        .sample-result_unit= result.test_item.unit.presence || "-"
        .sample-result_detection_limit= result.test_item.detection_limit.presence || "-"
        .sample-result_standard_min= result.test_item.standard_min.presence || "-"
        .sample-result_standard_max= result.test_item.standard_max.presence || "-"
        .sample-result_buttons
          = link_to "編集", edit_plant_sample_result_path(result.sample.plant, result.sample, result), class: "btn btn-edit"
          = link_to "削除", plant_sample_result_path(result.sample.plant, result.sample, result), method: :delete, data: { confirm: "この検査結果を削除しますか？" }, class: "btn btn-delete"


  / 操作
  %div.actions
    = link_to "事業場", plant_path(@sample.plant), class: "btn btn-show"
    = link_to "採水一覧", plant_samples_path(@sample.plant), class: "btn btn-show"
