.container 
  .test_items_header
    %h1 検査項目マスタ
    = link_to "新規作成", new_test_item_path, class: "btn btn-new"

  .test_items_table
    .test_items-table_header
      .test_items-table_row
        .test_items-table_order 表示順
        .test_items-table_name 名称
        .test_items-table_unit 単位
        .test_items-table_limit 定量下限値
        .test_items-table_min 基準下限
        .test_items-table_max 基準上限
        .test_items-table_buttons 操作
    .test_items-table_data
      - if @test_items.any?
        - @test_items.each do |item|
          .test_items-table_row
            .test_items-table_order= item.sort_order.presence || "-"
            .test_items-table_name= item.name
            .test_items-table_unit= item.unit.presence || "-"
            .test_items-table_limit= item.detection_limit.presence || "-"
            .test_items-table_min= item.standard_min.presence || "-"
            .test_items-table_max= item.standard_max.presence || "-"
            .test_items-table_buttons.table_actions
              = link_to edit_test_item_path(item), class: "test_item-edit icon-edit" do
                = image_tag 'edit.svg'
              = link_to test_item_path(item), data: {turbo_method: :delete, turbo_confirm: "検査項目を削除すると、この項目の検査結果データも全て削除されます。本当にこの検査項目を削除しますか？" }, class: "test_item-delete icon-delete" do
                = image_tag 'delete.svg'
      - else
        .test_items-table_row
          %p 登録済みの検査項目はありません。
