.container
  %h1.result_title 検査結果
  %h2.result_subtitle #{@result.sample.plant.name} ＜#{@result.test_item.name}＞
  .result_recent_results
    %h3.result-recent_results_title 直近20検体の結果
    .result-recent_results_table-wrapper
      %table.result-recent_results_table
        %tr
          %th 採水日
          %th 測定値 (#{@result.test_item.unit})
        - @recent_results.each do |result|
          %tr
            %td= result.sample.sampling_date
            %td= result.value
      %table.result-recent_min-max-table
        %tr
          %th 平均値
          %td= average(@recent_results)
        %tr
          %th 最小値
          %td= minimum(@recent_results)
        %tr
          %th 最大値
          %td= maximum(@recent_results)
  .result_chart
    %canvas{ data: { controller: "chartjs", chartjs: { data: { value: @chart_data.to_json }, options: { value: @chart_options.to_json } } } }

  .div-comment
    %p 直近20検体の結果について、平均・最大・最小値を表示します。
    %p グラフで表示します。
