.container
  .plants_header
    %h1 事業場一覧
    .plants-header_btn
      = link_to "新規作成", new_plant_path, class: "btn btn-new"

  -# %table.plants-table
  -#   %thead
  -#     %tr
  -#       %th 事業場名
  -#       %th 所在地

  -#   %tbody
  -#     - @plants.each do |plant|
  -#       %tr
  -#         %td
  -#           = link_to plant.name, plant_path(plant)
  -#         %td
  -#           = link_to plant.location, plant_path(plant)

  .plants_table
    - @plants.each do |plant|
      .plants-table_content
        = link_to plant_path(plant) do
          .plants-table_name= plant.name
          .plants-table_location= plant.location



  = link_to 'ホームに戻る', root_path, class: 'btn btn-show'
