.container
  .plant_header
    %h1.plant_header-title 事業場詳細
    .plant_header-buttons
      = link_to '編集', edit_plant_path(@plant), class: 'plant-header_button btn btn-edit', data: { turbo_frame: 'modal' }
      = link_to '削除', plant_path(@plant), data: { turbo_method: 'delete', turbo_confirm: '削除してもよろしいですか？' }, class: 'plant-header_button btn btn-delete'
  = render 'plant-show', plant: @plant
  .plant_samples
    .plant_samples-header
      %h2 検体一覧
      = link_to "新規作成", new_plant_sample_path(@plant), class: "btn btn-new", data: { turbo_frame: 'modal'}
    - if @samples.any?
      .samples-table
        .samples-table_header
          .samples-table_row
            .samples-table_date 採水日
            .samples-table_time 採水時間
            .samples-table_remarks 備考
        .samples-table_data#samples
          - @samples.each do |sample|
            = render 'samples/sample', plant: @plant, sample: sample
    - else
      %p 採水記録はまだありません。

  = link_to "事業場一覧に戻る", plants_path, class: "btn btn-show"

  .div-comment
    %p 事業場データの編集・削除は右上のボタンから。
    %p 検体一覧：この事業場についての採水データ一覧です。
    %p 　　　　　右上の新規作成ボタンで採水データを追加できます。
    %p 　　　　　採水データの詳細はリストのリンク先です。
    

