.container
  .plant_header
    %h1.plant_header-title 事業場詳細
    .plant_header-buttons
      = link_to '編集', edit_plant_path(@plant), class: 'plant-header_button btn btn-edit'
      = link_to '削除', plant_path(@plant), data: { turbo_method: 'delete', turbo_confirm: '削除してもよろしいですか？' }, class: 'plant-header_button btn btn-delete'
  .plant_info
    %h2.plant-info_name= @plant.name
    %p.plant-info_location= @plant.location
    %p.plant-info_remarks= @plant.remarks
  .plant_samples
    .plant_samples-header
      %h2 検体一覧
      = link_to "新規作成", new_plant_sample_path(@plant), class: "btn btn-new"
    - if @samples.any?
      .samples-table
        .samples-table_header
          .samples-table_row
            .samples-table_date 採水日
            .samples-table_time 採水時間
            .samples-table_remarks 備考
        .samples-table_data
          - @samples.each do |sample|
            = link_to plant_sample_path(@plant, sample), class: 'sample-table_link' do
              .samples-table_row
                .samples-table_date= l sample.sampling_date, format: :default
                .samples-table_time= l sample.sampling_time, format: :time
                .samples-table_remarks= sample.remarks
    - else
      %p 採水記録はまだありません。

  = link_to "事業場一覧に戻る", plants_path, class: "btn btn-show"

