.container
  .users_header
    %h1.users-header_title ユーザー一覧
    .users-header_btn
      = link_to '新規作成', new_admin_user_path, class: "btn btn-new"
  %p.users_text ログイン権限がtrueでなければ当システムにログインできません。権限は編集画面で付与できます。
  .users_users
    .users-user_heading.users_user
      .user_name 名前
      .user_email メールアドレス
      .user_admin ログイン権限
      .user_actions 操作
    - @users.each do |user|
      %div{ class: [ 'users_user', user.color_false? ] }
        .user_name= user.name
        .user_email= user.email
        .user_admin= user.admin
        .user_actions
          = link_to edit_admin_user_path(user), class: "user-edit" do
            = image_tag 'edit.svg'
          = link_to admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "このユーザーを削除しますか？" }, class: "user-delete" do
            = image_tag 'delete.svg'
  .actions
    = link_to "戻る", root_path, class: "btn btn-show"